<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>617614145077-sse5ieqlqigfo01soo8luqahrcb5e0qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617614145077-sse5ieqlqigfo01soo8luqahrcb5e0qc</string>
	<key>API_KEY</key>
	<string>AIzaSyCJUanseV4ZwJf9cu_Hhx4h8PEUlRnKiH8</string>
	<key>GCM_SENDER_ID</key>
	<string>617614145077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DarraghFYP.Build1</string>
	<key>PROJECT_ID</key>
	<string>darraghfyp</string>
	<key>STORAGE_BUCKET</key>
	<string>darraghfyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:617614145077:ios:2014ef0301225d80</string>
	<key>DATABASE_URL</key>
	<string>https://darraghfyp.firebaseio.com</string>
</dict>
</plist>
